@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geom:ital,wght@0,300..900;1,300..900&display=swap');
@import 'tailwindcss';
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}

@theme {
  --font-display: 'geom', 'sans-serif';
}

* {
  @apply font-display;
  border-radius: 0 !important;
}

body {
  overflow-x: hidden;
}
